<mat-stepper linear #stepper class="mt-5">
  <mat-step [stepControl]="contactDetailsFormGroup" [editable]="true">
    <form [formGroup]="contactDetailsFormGroup" class="mt-2">
      <ng-template matStepLabel>Contact Details</ng-template>
      <div class="row">
        <div
          class="offset-md-4 col-md-4 user-details"
          (mouseenter)="pictureSelector = true"
          (mouseleave)="pictureSelector = false"
        >
          <div class="text-center">
            <img
              id="ProfilePicture"
              #ProfilePicture
              class="img-circle"
              [src]="profilePictureSrc || '/assets/user-avatar.png'"
            />
            <i
              class="selectPhoto fa fa-camera"
              [ngClass]="pictureSelector ? 'isVisible' : ''"
              (click)="user_profilePicture.click()"
            ></i>
            <input
              #user_profilePicture
              id="user_profilePicture"
              type="file"
              formControlName="ProfilePicture"
              (change)="validatePicture($event)"
            />
            <mat-error *ngIf="getProfilePictureError()">{{
              getProfilePictureError()
            }}</mat-error>
            <br />
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="FirstName" />
            <mat-error *ngIf="getErrorMessage('FirstName')">{{
              getErrorMessage("FirstName")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="LastName" />
            <mat-error *ngIf="getErrorMessage('LastName')">{{
              getErrorMessage("LastName")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" />
            <mat-error *ngIf="getErrorMessage('Email')">{{
              getErrorMessage("Email")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Phone No</mat-label>
            <span matPrefix> &nbsp; +91 &nbsp;</span>
            <input matInput formControlName="PhoneNumber" />
            <mat-error *ngIf="getErrorMessage('PhoneNumber')">{{
              getErrorMessage("PhoneNumber")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button
            mat-stroked-button
            color="primary"
            matStepperNext
            class="float-end"
            [disabled]="contactDetailsFormGroup.invalid"
          >
            Next
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="organizationDetailsFormGroup" [editable]="true">
    <form [formGroup]="organizationDetailsFormGroup" class="mt-2">
      <ng-template matStepLabel>Organization Details</ng-template>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Organization Name</mat-label>
            <input matInput formControlName="OrganizationName" />
            <mat-error *ngIf="getErrorMessage('OrganizationName')">{{
              getErrorMessage("OrganizationName")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="Address" />
            <mat-error *ngIf="getErrorMessage('Address')">{{
              getErrorMessage("Address")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Address 2</mat-label>
            <input matInput formControlName="Address2" />
            <mat-error *ngIf="getErrorMessage('Address2')">{{
              getErrorMessage("Address2")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Pincode</mat-label>
            <input matInput formControlName="Pincode" />
            <mat-error *ngIf="getErrorMessage('Pincode')">{{
              getErrorMessage("Pincode")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Place</mat-label>
            <input matInput formControlName="Place" />
            <mat-error *ngIf="getErrorMessage('Place')">{{
              getErrorMessage("Place")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <mat-select formControlName="StateCode">
              <mat-option *ngFor="let state of states" [value]="state.Value">
                {{ state.Text }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="getErrorMessage('StateCode')">{{
              getErrorMessage("StateCode")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Organization PAN</mat-label>
            <input matInput formControlName="Organization_PAN" />
            <mat-error *ngIf="getErrorMessage('Organization_PAN')">{{
              getErrorMessage("Organization_PAN")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>GSTIN No</mat-label>
            <input matInput formControlName="GSTNNo" />
            <mat-error *ngIf="getErrorMessage('GSTNNo')">{{
              getErrorMessage("GSTNNo")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>GSTIN Username</mat-label>
            <input matInput formControlName="GSTINUsername" />
            <mat-error *ngIf="getErrorMessage('GSTINUsername')">{{
              getErrorMessage("GSTINUsername")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-label>Cancelled Cheque Photo</mat-label>
          <br />
          <button (click)="fileInput.click()" mat-raised-button>
            <mat-icon>library_add</mat-icon>
            <span>{{ cancelledChequePictureName || "Select" }}</span>
            <input
              #fileInput
              type="file"
              style="display: none"
              (change)="validateCanceledChequePicture($event)"
              formControlName="CancelledChequePhoto"
            />
          </button>
          <mat-error *ngIf="getCancelledChequePictureError()">{{
            getCancelledChequePictureError()
          }}</mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button mat-stroked-button color="accent" matStepperPrevious>
            Previous
          </button>
        </div>
        <div class="col-md-6">
          <button
            mat-stroked-button
            color="primary"
            class="float-end"
            matStepperNext
            [disabled]="organizationDetailsFormGroup.invalid"
          >
            Next
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="accountForm" [editable]="true">
    <form [formGroup]="accountForm" class="mt-2">
      <ng-template matStepLabel>Account Information</ng-template>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="Username" />
            <mat-error *ngIf="getErrorMessage('Username')">{{
              getErrorMessage("Username")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="Password" />
            <mat-error *ngIf="getErrorMessage('Password')">{{
              getErrorMessage("Password")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="ConfirmPassword" />
            <mat-error *ngIf="getErrorMessage('ConfirmPassword')">{{
              getErrorMessage("ConfirmPassword")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="text-center">
        <button
          mat-raised-button
          color="primary"
          (click)="register()"
          [disabled]="
            contactDetailsFormGroup.invalid ||
            organizationDetailsFormGroup.invalid ||
            accountForm.invalid ||
            !profilePictureSrc ||
            !cancelledChequePictureSrc
          "
        >
          Register
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
