<mat-toolbar color="primary" *ngIf="isLoggedIn">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="mr-1">{{ title }}</span>

  <!-- Navigation links that only appear when logged in -->
  <span class="spacer"></span>

  <!-- Login/Register buttons that only appear when logged out -->
  <span *ngIf="!isLoggedIn" class="spacer"></span>
  <button *ngIf="!isLoggedIn" mat-button routerLink="/login">Login</button>
  <button *ngIf="!isLoggedIn" mat-button routerLink="/register">
    Register
  </button>

  <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<!-- Main Content -->

<mat-sidenav-container class="full-height">
  <mat-sidenav #sidenav mode="side" [opened]="isExpanded"  *ngIf="isLoggedIn">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/gstr1/add">Add GSTR1</a>
      <a mat-list-item routerLink="/gstr1/list">GSTR1 List</a>
      <a mat-list-item routerLink="/gstr1/upload">Upload GSTR1</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
