.example-spacer {
  flex: 1 1 auto;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-toolbar .mat-button {
  color: white;
}


button {
  margin-left: 10px;
}

.content {
  padding:20px;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-container {
  height: 100vh;
}

.active {
  font-weight: bold;
  color: #2196F3;
}
