<div class="container">
  <table mat-table [dataSource]="gstr1Data" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let item">
        <a href="#" (click)="openItemList(item.id); $event.preventDefault()">{{
          item.id
          }}</a>

      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="gstinNo">
      <th mat-header-cell *matHeaderCellDef>GSTNNo</th>
      <td mat-cell *matCellDef="let item">{{ item.gstinNo }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="financialPeriod">
      <th mat-header-cell *matHeaderCellDef>Financial Period</th>
      <td mat-cell *matCellDef="let item">{{ item.financialPeriod }}</td>
    </ng-container>

    <ng-container matColumnDef="grossTurnOver">
      <th mat-header-cell *matHeaderCellDef>Gross Turnover</th>
      <td mat-cell *matCellDef="let item">{{ item.grossTurnOver }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let item">
        <button mat-mini-fab color="secondary" (click)="onSaveGSTR1(item.id)" matTooltip="GSTR1 Save">
          <!-- *ngIf="item.saveGstr1Status === -1" -->
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <!-- *ngIf="item.saveGstr1Status === 0"  -->
        <button mat-mini-fab color="accent" (click)="onProceedToFile(item.id)" matTooltip="Proceed To File"
          style="margin-left: 5px">
          <mat-icon>description</mat-icon>
        </button>

        <button *ngIf="item.getSummaryResponse" mat-mini-fab color="primary" (click)="viewSummary(item.id)"
          matTooltip="View Summary" style="margin-left: 5px">
          <mat-icon>visibility</mat-icon>
        </button>
        <!-- *ngIf="item.saveGstr1Status === 1" -->
        <button mat-mini-fab color="primary" (click)="openPopupPAN(item.id)" matTooltip="GSTR1 File"
          style="margin-left: 5px">
          <mat-icon>key</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="[
        'id',
        'gstinNo',
        'financialPeriod',
        'grossTurnOver',
        'action'
      ]"></tr>
    <tr mat-row *matRowDef="
        let row;
        columns: ['id', 'gstinNo', 'financialPeriod', 'grossTurnOver', 'action']
      "></tr>
  </table>

  <mat-paginator [length]="totalRecords" [pageSize]="pageSize" (page)="onPageChange($event.pageIndex + 1)">
  </mat-paginator>
</div>
<ng-template #popupTemplatePAN let-data>
  <div class="b2b-header">GSTR1 File</div>
  <div class="center-container" *ngIf="!isSubmit">
    <form [formGroup]="EVCForm">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Authorised PAN</mat-label>
        <input matInput formControlName="PAN" placeholder="Enter Authorised PAN" required />
        <mat-error *ngIf="getErrorMessage('PAN')">{{
          getErrorMessage("PAN")
          }}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions class="center-actions" *ngIf="!isSubmit">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit(data.gstnId)">
      Submit
    </button>

    <button mat-raised-button color="primary" (click)="closeDialog()">
      Cancel
    </button>
  </div>
</ng-template>
<ng-template #popupTemplateEVC let-data>
  <div class="b2b-header">Verify OTP</div>
  <p class="otp-container">An OTP has been sent to your registered mobile number</p>
  <div class="otp-container">
    <ng-otp-input (onInputChange)="onOtpChange($event, data.data, data.pan, data.gstnId)"
      [config]="{ length: 6, allowNumbersOnly: false}"></ng-otp-input>
  </div>
  <mat-error class="otp-container" *ngIf="invalidOtpMessage">
    {{ invalidOtpMessage }}
  </mat-error>
  <div class="picture-content col"></div>
</ng-template>