<div [formGroup]="parentForm" class="p-20 mb-25">
  <div formArrayName="b2cl">
    <div
      *ngFor="let b2clGroup of b2clArray.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="row mb-10">
        <div class="col-6">B2CL #{{ i + 1 }}</div>
        <div class="col-6">
          <button
            class="right-aligned-button"
            mat-raised-button
            color="warn"
            (click)="removeB2cl(i)"
          >
            <mat-icon>delete</mat-icon>
            Remove B2CL #{{ i + 1 }}
          </button>
        </div>
      </div>
      <!-- CTIN and Ecom Tin -->
      <div class="row">
        <div class="col-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>State</mat-label>
            <mat-select formControlName="pos">
              <mat-option *ngFor="let state of states" [value]="state.Value">
                {{ state.Text }}
              </mat-option>
            </mat-select>
            <mat-error>{{
              getErrorMessage("pos", "State", b2clGroup)
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Invoices -->
      <app-invoice-b2cl [b2clGroup]="b2clGroup"></app-invoice-b2cl>
    </div>
    <button
      class="right-aligned-button"
      mat-raised-button
      color="accent"
      (click)="addB2cl()"
    >
      <mat-icon>add</mat-icon>
      Add B2CL
    </button>
  </div>
</div>
